@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 7655px;
}
.header-mobile-menu {
    display: none;
}   
header .header-menu {
    display: table;
    width: 100%;
    background: #485E88;
}

.menu ul { 
    padding:0px;
    margin:0px;
    list-style:none;
}
.menu ul li {
    display: inline;
}

@media (min-width:320px) {

    header {
        background-color: #485E88;
        width: 100%;
        height: 74px;
    }

    header .header-menu {
        display: none;
    }

    .header-mobile-menu {
        background: #485E88;
        width: 100vw;
        height: 74px;
        display: table;
    }

    .logo img {
        margin-top: 9px;
        margin-left: 19px;
        width: 87px;
        height: 65px;
    }

    .input {
        display: none;
    }

    .search {
        top: 18px;
        left: 284px;
        width: 14px;
        height: 14px;
        position: absolute;
        display: none;
    }

    #lupa {
      left: 289px;
      top: 30px;
      width: 38px;
      height: 38px;
      color: white;
      font-size: 24px;
    }
  
    #burguer {
        top: 30px;
        left: 335px;
        width: 20px;
        height: 16px;
        font-size: 28px;
        color: white;
    }

    .titulo-main {
        top: 105px;
        left: 22px;
        width: 270px;
        height: 131px;
        text-align: left;
        font: normal normal bold 24px Open Sans;
        color: #54595F ;
    }

    .paragrafo-main {
        top: 240px;
        left: 22px;
        width: 270px;
        height: 74px;
        color: #54595F;
        text-align: left;
        font: normal normal normal 16px Open Sans;
    }

    .first-img {
        width: 350px;
        height: 448px;
        left: 20px;
        top: 332px;

    }

    #img-one {
        height: 275px;
        width: 350px;

    }
    
    .label-escola {
        top: 286px;
        left: 6px;
        width: 103px;
        height: 30px;
        border-radius: 15px;
        background: #F2F2F2 0% 0% no-repeat padding-box;
    }

    #label {
        top: 5px;
        left: 7px;
        width: 23px;
        height: 14px;
        font-size: 22px;
        color: #8CC751;
    }

    .text-label {
       top: 8px;
       left: 32px;
       width: 80px;
       height: 18px;
       font-size: 14px;
       color: #54595F;
      
    }

    .date {
        top: 286px;
        left: 100px;
        width: 107px;
        height: 30px;
    }

    #calendar {
        font-size: 18px;
        top: 4px;
        left: 35px;
        width: 18px;
        height: 18px;
        color: #54595F;
    }

    .text-date {
        font-size: 14px;
        top: 7px;
        left: 60px;
        width: 80px;
        height: 18px;
        color: #54595F;
    }

    .reading {
        top: 286px;
        left: 242px;
        width: 130px;
        height: 30px;
    }

    #glasses {
        color: #54595F;
        top: 1px;
        left: 20px;
        width: 22px;
        height: 18px;
        font-size: 26px;
    }

    .time-reading {
        color: #54595F;
        top: 5px;
        left: 50px;
        width: 62px;
        height: 18px;
        font-size: 15px;
    }

    .footer-title-img {
        top: 325px;
        left: 16px;
        width: 318px;
        height: 55px;
        color: #54595F;
        text-align: left;
        font: normal normal bold 16px Open Sans;
        letter-spacing: 0px;
        opacity: 1;
    }

    .p-footer-title-img {
        top: 377px;
        width: 318px;
        height: 28px;
        left: 16px;
        font: normal normal normal 14px Open Sans;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;
    }

    .line-footer {
        top: 415px;
        width: 349px;
        height: 9px;
        background-color: #8CC751;
        width: 349px;
    }
   
    .second-img {
        top: 393px;
        left: 20px;
        width: 350px;
        height: 391px;
        opacity: 1;
    }

    #second-photo {
        top: 387px;
        width: 350px;
        height: 255px;
    }

    .educar-01 {
        top: 650px;
        left: 10px;
        width: 110px;
        height: 30px;
        border-radius: 15px;
        background: #F2F2F2 0% 0% no-repeat padding-box;
    }

    #label-1 {
        top: 4px;
        left: 8px;
        width: 23px;
        height: 14px;
        color: #8CC751;
        font-size: 23px;
    }

    .text-label-1 {
        top: 8px;
        left: 37px;
        width: 80px;
        height: 18px;
        color: #54595F;
        font-size: 14px;
    }

    .second-title-footer {
        color: #54595F;
        top: 690px;
        left: 15px;
        width: 254px;
        height: 60px;
        font: normal normal bold 16px Open Sans;
    }

    #calendar-1 {
        top: 743px;
        left: 17px;
        width: 18px;
        height: 18px;
        color: #54595F;
        font-size: 18px;
    }

    .text-date-1 {
        top: 747px;
        left: 40px;
        width: 80px;
        height: 18px;
        text-align: left;
        font-size: 14px;
        color: #54595F;
    }

    #glasses-1 {
        left: 146px;
        top: 740px;
        width: 22px;
        height: 18px;
        text-align: left;
        font-size: 26px;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;     
    }

    .time-reading-1 {
        left: 176px;
        top: 744px;
        width: 80px;
        height: 18px;
        text-align: left;
        font-size: 15px;
        letter-spacing: 0px;
        color: #54595F;
        opacity: 1;     
    }

    .border-div-1 {
        border: 0px solid gray;
        background-color: gray;
        top: 1186px;
        height: 1px;
        left: 20px;
        width: 350px;
        text-align: left;
    }

    .third-img {
        top: 280px;
        width: 350px;
        height: 391px;
    }

    #third-photo {
        top: 934px;
        left: 20px;
        width: 350px;
        height: 255px;
    }

    .educar-2 {
        top: 1205px;
        left: 28px;
        width: 124px;
        height: 30px;
        border-radius: 15px;
        background: #F2F2F2 0% 0% no-repeat padding-box;
    }

    #label-2 {
        top: 3px;
        left: 12px;
        font-size: 22px;
        color: #8CC751;
        width: 25px;
        height: 14px;
    }

    .text-label-2 {
        top: 6px;
        left: 40px;
        width: 80px;
        height: 18px;
        color: #54595F;
        font-size: 16px;
    }

    .third-title-footer {
        top: 1250px;
        left: 35px;
        width: 254px;
        height: 60px;
        text-align: left;
        color: #54595F;
        font: normal normal bold 16px Open Sans;
        letter-spacing: 0px ;
    }

    #calendar-2 {
        top: 1300px;
        left: 37px;
        color: #54595F;
        width: 18px;
        height: 18px;
        font-size: 18px;
    }

    .text-date-2 {
        top: 1305px;
        left: 60px;
        width: 80px;
        height: 18px;
        color: #54595F;
        text-align: left;
        font-size: 14px;
    }

    #glasses-2 {
        top: 1298px;
        left: 160px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 26px;
    }

    .time-reading-2 {
        top: 1302px;
        left: 190px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 15px;
    }

    .border-div-2 {
        border: 0px solid gray;
        background-color: gray;
        top: 1622px;
        height: 1px;
        left: 20px;
        width: 350px;
        text-align: left;
    }

    .fourth-img {
        top: 878px;
        left: 20px;
        width: 350px;
        height: 391px;
    }

    #fourth-photo {
        top: 778px;
        width: 350px;
        height: 255px;
    }

    .educar-3 {
        top: 1048px;
        left: 8px;
        border: 1px solid black;
        width: 115px;
        height: 30px;
        border-radius: 15px;
        color: #54595F;
        background: #F2F2F2 0% 0% no-repeat padding-box;
    }

    #label-3 {
        top: 5px;
        left: 10px;
        width: 23px;
        height: 14px;
        color: #8CC751;
        font-size: 22px;
    }

    .text-label-3 {
        top: 8px;
        left: 37px;
        width: 23px;
        height: 14px;
        font-size: 14px;
    }

    #calendar-3 {
        top: 1143px;
        left: 17px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 18px;
    }

    .text-date-3 {
        top: 1146px;
        left: 42px;
        width: 80px;
        height: 18px;
        text-align: left;
        color: #54595F;
        font-size: 14px ;
    }

    .fourth-title-footer {
        top: 1088px;
        left: 18px;
        width: 254px;
        height: 60px;
        color: #54595F;
        text-align: left;
        font: normal normal bold 16px Open Sans;
        letter-spacing: 0px;
    }

    #glasses-3 {
        top: 1140px;
        left: 144px;
        color: #54595F;
        width: 27px;
        height: 27px;
        font-size: 26px;
    }

    .time-reading-3 {
        top: 1144px;
        left: 174px;
        width: 26px;
        height: 26px;
        color: #54595F;
        font-size: 15px;
    }

    .border-div-3 {
        border: 0px solid gray;
        background-color: gray;
        top: 2063px;
        height: 1px;
        left: 20px;
        width: 350px;
        text-align: left;
    }

    .nav-bar {
        margin-top: 70px;
        display: none;
    }
    .mobile-footer-menu {
        display: none;
    }



}